<h1>HEY ! CONFIRME TON EMAIL AVANT QUE JE LE SUPPRIME !!!</h1>

<p>
    Confirme ton address email avant ça suppression dans 2 seconde : <br><br>
    <a href="{{ signedUrl|raw }}">Clique sur moi pour confirmer ton email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    CIAO!
</p>
