{% extends 'district.html.twig' %}

{% block title %}District - The District
{% endblock %}

{% block body %}
    <div class="container text-light">
        <h1>The District</h1>
    </div>
{% endblock %}