{% extends 'district.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="container text-light">
		{% for contact in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ contact }}
			</div>
		{% endfor %}

		{% for contact in app.flashes('danger') %}
			<div class="alert alert-success mt-4">
				{{ contact }}
			</div>
		{% endfor %}

		<h1>Formulaire de contact</h1>

		{{ form(form) }}
		</div>
	{% endblock %}
