{% extends 'district.html.twig' %}
{% block title %}Plat{% endblock %}

{% block body %}
<div class="container text-light">
    {% for plat in plat %}
        <div class="row row-cols-1 row-md-cols-2 justify-content-center d-flex text-center">
<div class="col-12 col-md-4 d-flex pt-4 justify-content-center">
           <div class="card bg-dark rounded">
           <div class="card-header">{{plat.libelle}}</div>
               <div class="card-body">
                   <div class="row">
                       <div class="col-4">
                           <img class="card-img-top"
                               src="/images/{{plat.image}}"
                               alt="image">
                       </div>
                       <div class="col-8">
                           <p class="card-text">{{plat.description | raw}}</p>
                        <a href="{{ path('panier_add', {'id': plat.id}) }}" class="btn btn-secondary">Commander</a>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
 {% endfor %}
{% endblock %}
